/* Ajustes poole */

html {
	font-family: "Asap", sans-serif;
	font-size: 12px;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden; 
}

.content {
	padding-top: 6rem;
	max-width: 90%;
}

@media (min-width: 48em) {
	.content {
		padding-top: 2rem;
	}
}

@media (min-width: 48em) {
	html {
		font-size: 13px;
	}
	.content {
		max-width: 60rem;
		margin-left: 17rem;
	}
	.sidebar {
		width: 15rem;
	}
}

@media (min-width: 48em) {
	.content {
		margin-left: 2rem;
	}
}

@media (min-width: 58em) {
	html {
		font-size: 14px;
	}
}

body {
	color: #1E1E20;
	background-color: ghostwhite;
	line-height: 1.3rem;
	margin: 0 auto;
}

a {
	color: deeppink;
}

a:hover,
a:focus {
	color: deepskyblue;
}

a,
a:hover,
a:focus {
	-webkit-transition: color .3s ease;
	-moz-transition: color .3s ease;
	-o-transition: color .3s ease;
	transition: color .3s ease;
}

abbr {
	font-size: 100%;
	color: inherit;
	font-weight: inherit;
}

@media (min-width: 58em) {
	abbr[title] {
		cursor: help;
		border-bottom: 1px dotted #ccc;
	}
}

img {
	border-radius: 4px;
}

h1 {
	font-size: 2.8125rem;
	line-height: 3.5625rem;
	margin-top: 2.375rem;
	margin-bottom: 1.1875rem;
}

h2 {
	font-size: 2rem;
	line-height: 2.375rem;
	margin-top: 2.375rem;
	margin-bottom: 1.1875rem;
}

h3 {
	font-size: 1.4375rem;
	line-height: 2.375rem;
	margin-top: 1.1875rem;
	margin-bottom: 1.1875rem;
}

h4 {
	font-size: 1rem;
	line-height: 1.1875rem;
	margin-top: 1.1875rem;
	margin-bottom: 1.1875rem;
}

h1 + h2 {
	margin-top: 0;
}

h1 + h2.trabajo {
	margin-bottom: .75rem;
}

.sidebar h3 {
	color: ghostwhite;
}

.header h1,
.header h2,
.header h3,
.header h4,
.header h5,
.header h6 {
	margin-top: 0;
	margin-bottom: 0;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
	color: #1E1E20;
}

p,
ul,
ol,
pre,
table,
blockquote {
	margin-top: 1.1875rem;
	margin-bottom: 1.1875rem;
}

blockquote p {
	margin: 0;
}
/* Sanitation */

hr {
	border: 1px solid;
	margin: -1px 0;
}

ul ul,
ol ol,
ul ol,
ol ul {
	margin-top: 0;
	margin-bottom: 0;
}

b,
strong,
em,
small,
code {
	line-height: 1;
}

sup,
sub {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}

sub {
	top: 0.4em;
}


/* Ajustes hyde */
/* Sidebar */

.sidebar {
	color: ghostwhite;
	background-color: #1E1E20;
	overflow-y: auto;
	text-align: left;
	height: 100%;
}

.sidebar a {
	color: deepskyblue;
}

.sidebar-about h1 {
	font-family: "Asap", sans-serif;
	font-size: 2rem;
	line-height: 2rem;
}

.sidebar-about h1 a {
	color: deepskyblue;
	text-decoration: none;
}

.sidebar h3.titulo {
	margin: 0;
	margin-top: .75rem;
	font-size: 1rem;
	line-height: 1rem;
}

.sidebar-nav-item {
	line-height: 1.4;
}

a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
	color: deeppink;
}

.sidebar-nav-item.active {
	color: deeppink;
}

.sidebar-nav-item.active:before {
	content: "\2023 \2009";
}

.content ul {
	padding-left: 1rem;
	list-style-type: none;
}

.content ul li ul {
	padding-left: 1rem;
	list-style-type: none;
	margin-bottom: .25rem;
}

.content ul li:before,
.content ul li ul li:before {
	content: "\2023 \2009";
}

/* Estilo */

.puesto {
	color: ;
}

.empleador {
	font-size: .85rem;
	font-weight: bold;
	color: lightcoral;
}

.empleador a {
	color: lightcoral;
}

.small-text {
	font-size: .7rem;
	line-height: .9rem;
}

.subtle {
	color: lightgray;
}

.content h2.trabajo {
	font-style: italic;
	color: darkgrey;
	font-weight: normal;
	font-size: 1.5rem;
	line-height: 1.6rem;
}

.comitente,
.tags,
.etiquetas {
	font-style: italic;
}

/* Tweaks */ 

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	border-radius: 4px;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.fotorama__stage {
	border-radius: 4px;
}
