ErrorDocument 404 /404.html
Redirect 301 /curriculum.html /curriculum/
Redirect 301 /exposiciones.html /exposiciones/
Redirect 301 /colofon.html /colofon/

ServerSignature Off

# Turn on XSS prevention tools
Header set X-XSS-Protection "1; mode=block"

# Prevent mime based attacks
Header set X-Content-Type-Options "nosniff"
