<head>
    <link href="http://gmpg.org/xfn/11" rel="profile">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    
    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    
    <title>
    {% if page.url == '/index.html' %} {{ site.title }} &#124; {{ site.tagline }}
    {% else %}
        {{ page.title }} &#124; {{ site.title }}
    {% endif %}
    </title>
    
    <!-- CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/poole.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/hyde.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/sss.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Asap:400,700,400italic,700italic">
    
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/sss.min.js"></script>
    <script src="{{ site.baseurl }}/js/init.js"></script>
    
    <!-- Icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/apple-touch-icon-144-precomposed.png">
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">
    
    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.baseurl }}/feed.xml">
</head>
