{% asset menu.js %}

{% if page.collection == "proyectos" %}
<script src="//unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script>
var galleryElems = document.querySelectorAll('.carousel');

for ( var i=0, len = galleryElems.length; i < len; i++ ) {
    var galleryElem = galleryElems[i];
    new Flickity( galleryElem, {
        wrapAround: true,
        autoPlay: 3500,
        imagesLoaded: true,
        adaptiveHeight: true
    });
}
</script>
{% endif %}

{% if page.path == "index.md" or page.path == "colofon.md" %}
{% asset rnd-image.js %}
{% endif %}
