<!-- Menu toggle -->
<a href="#menu" id="menuLink" class="menu-link">
    <!-- Hamburger icon -->
    <span></span>
</a>

<div id="menu">
    <div class="pure-menu">
        {% for post in site.categories.proyectos %}
        {% capture currentyear %}{{post.date | date: "%Y"}}{% endcapture %}
        {% if currentyear != year %}
        <h3 class="titulo" href="#">{{ currentyear }}</h3>
        {% capture year %}{{currentyear}}{% endcapture %}
        {% endif %}
            <a href="{{ post.url }}" class="sidebar-nav-item{% if page.url == post.url %} pure-menu-selected{% endif %}">{% if post.title-alt != null %}{{ post.title-alt }}{% else %}{{ post.title }}{% endif %}</a>
        {% endfor %}
    </div>
</div>
