---
layout: default
---

<div class="page">
	<div class="header">
		<h1 class="page-title">{{ page.title }}</h1>
		<h2 class="trabajo">{{ page.trabajo }}</h2>
	</div>

	{{ content }}

	{% if page.comitente != null %}
		<div class="comitente">
			{{ page.comitente | prepend:'<strong>Comitente:</strong> ' | markdownify | replace:'">','" target="_blank">' }}
		</div>
	{% else %}{% endif %}

	{% if page.tags != null %}

	{% assign sortedtags2 =  page.tags | split:' ' | sort %}

	<div class="etiquetas">
		<p><strong>Etiquetas:</strong> {{ sortedtags2 | join "," }}.</p>
	</div>
	{% else %}{% endif %}

</div>
