---
layout: default
---

<div class="page">
	<div class="header">
		<h1 class="page-title">{{ page.title }}</h1>
		<h2 class="trabajo">{{ page.trabajo }}</h2>
	</div>

	{{ content }}

	{% if page.comitente != null %}
		<div class="comitente">
			<strong>Comitente:</strong> {{ page.comitente | markdownify }}
		</div>
	{% else %}{% endif %}

	{% if page.tags != null %}
	<div class="tags">
		prepend:'<strong>Etiquetas:</strong> {{ page.tags | array_to_sentence_string | replace:' and ',', ' }}.
	</div>
	{% else %}{% endif %}

</div>
